<mat-grid-list cols="3" >
    <mat-grid-tile  [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card" >
        <mat-card-header>
            <mat-card-title>sas</mat-card-title>
            <mat-card-subtitle>sas</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="http://localhost:3000/photo/Cristiano%20Ronaldo.png" alt="Photo of a Shiba Inu">
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile  [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card" >
        <mat-card-header>
            <mat-card-title><h2>Profile </h2> 
                <button mat-button class="back" (click)="goBack()">Back</button>
                </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h3>This page is Under construction</h3>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile  [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card" >
        <mat-card-header>
            <mat-card-title><h2>Other Information</h2></mat-card-title>
        </mat-card-header>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>